In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import numpy as np
import scipy as sp
from pylab import text

import highlight_text

In [47]:
Player_1 = 'Phil Foden'
Player_2 = 'David Silva'
Color_1 = 'deepskyblue'
Color_2 = 'red'

In [48]:
df1std = pd.read_csv('Foden Standard.txt')
numbers1 = len(df1std['Season'])
df1name = pd.DataFrame({'Player': Player_1 [0:numbers1]}, index=df1std.index)
df1name

ValueError: If using all scalar values, you must pass an index

In [46]:
df1std

,Season,Age,Squad,Country,Comp,LgRank,MP,Starts,Min,90s,...,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1,Matches
0,2017-2018,17,Manchester City,eng ENG,Jr. PL2 â€” Div. 1,6th,9,9,810,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches
1,2017-2018,17,Manchester City,eng ENG,1. Premier League,1st,5,0,49,0.5,...,0.00,0.00,0.60,0.60,0.00,0.64,0.64,0.00,0.64,Matches
2,2018-2019,18,Manchester City,eng ENG,1. Premier League,1st,13,3,335,3.7,...,0.68,0.68,0.16,0.84,0.67,0.16,0.83,0.67,0.83,Matches
3,2019-2020,19,Manchester City,eng ENG,1. Premier League,2nd,23,9,901,10.0,...,0.43,0.43,0.20,0.63,0.43,0.20,0.63,0.43,0.63,Matches
4,2020-2021,20,Manchester City,eng ENG,1. Premier League,1st,21,13,1250,13.9,...,0.27,0.27,0.24,0.51,0.27,0.24,0.51,0.27,0.51,Matches